<!DOCTYPE html>
<html>
<head>
	<title> Login </title>
	{% load staticfiles %}
	<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<!---------------<link rel="stylesheet" type="text/css" href=  "{% static 'newlogin.css' %}">
	<link href="https://fonts.googleapis.com/css?family=Play&display=swap" rel="stylesheet">-------------->

{% load staticfiles %}
<link rel = "stylesheet" type="text/css" href = "{% static 'register.css' %}">
    </head>

<div id = "menu">
<font size = "5">
<ul>

    <li><a href ="{% url 'Hospital_app:receptionist' %}">home</a></li>
    <li><a href ="../getall/">manage&nbsp;&nbsp;appointments</a></li>
    <li><a href ="{% url 'Hospital_app:patient_profile' %}">profile</a></li>
<li><a href="{% url 'Hospital_app:logout' %}">logout</a></li>

</ul>
</div>

<p>
<form action = "../post" method = "post" name="myForm" onsubmit = "return(validate());">
{% csrf_token %}
    <p>
 Patient:<input type = "text"  name="patient">
</p>
<p>
    doctor:<input type = "text"  name="doctor">
</p>
<p>
 Gender:<input type = "date"  name="date">
</p>
<p>
 Phone_no:<input type = "number" value = {{all_app.phone_no}} name="phone_no">
</p>
{% if is_doc %}
<p>
 Degree:<input type = "text" value = {{all_app.Degree}} name="degree">
</p>
<p>
 specialization:<input type = "text" value = {{all_app.specialization}} name="specialization">
</p>
{% endif %}
<input type = "submit" value = "Save">

</form>
</p>
<script type = "text/javascript">

    function validate() {

         if( document.myForm.Name.value == "" ) {
            alert( "Please provide your name!" );
            document.myForm.Name.focus() ;
            return false;
         }
         if( document.myForm.EMail.value == "" ) {
            alert( "Please provide your Email!" );
            document.myForm.EMail.focus() ;
            return false;
         }
         if( document.myForm.gender.value == "" ) {
            alert( "Please provide your gender" );
            document.myForm.gender.focus() ;
            return false;
         }
          if( document.myForm.phone_no.value == "" ) {
            alert( "Please provide your phone number!" );
            document.myForm.phone_no.focus() ;
            return false;

         }
          if( document.myForm.degree.value == "" ) {
            alert( "Please provide your Degree!" );
            document.myForm.degree.focus() ;
            return false;
         }
          if( document.myForm.specialization.value == "" ) {
            alert( "Please provide your specialization!" );
            document.myForm.specialization.focus() ;
            return false;
         }
         return( true );
         }
</script>
