<!DOCTYPE html>
<html>
<head>
	<title> Login </title>
	{% load staticfiles %}
	<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<!---------------<link rel="stylesheet" type="text/css" href=  "{% static 'newlogin.css' %}">
	<link href="https://fonts.googleapis.com/css?family=Play&display=swap" rel="stylesheet">-------------->

{% load staticfiles %}
<link rel = "stylesheet" type="text/css" href = "{% static 'register.css' %}">
    </head>

<div id = "menu">
<font size = "5">
<ul>
<li><a href ="{% url 'Hospital_app:patient_home' %}">home</a></li>
    <li><a href ="{% url 'Hospital_app:patient_appointment' %}">your appointments</a></li>
    <li><a href ="{% url 'Hospital_app:payment' %}">invoice and payment</a></li>
    <li><a href ="{% url 'Hospital_app:patient_profile' %}">profile</a></li>
<li><a href="{% url 'Hospital_app:logout' %}">logout</a></li>

</ul>
</div>

<p>
<form action = "{% url 'Hospital_app:patient_profile' %}" method = "post">
{% csrf_token %}
    <p>
 Name:<input type = "text" value = {{data.Name}} NAME="Name">
</p>
<p>
    Email:<input type = "text" value = {{data.Email}} name="Email">
</p>
<p>
 Gender:<input type = "text" value = {{data.gender}} name="gender">
</p>
<p>
 Phone_no:<input type = "text" value = {{data.phone_no}} name="phone_no">
</p>
{% if is_doc %}
<p>
 Degree:<input type = "text" value = {{data.Degree}} name="degree">
</p>
<p>
 specialization:<input type = "text" value = {{data.specialization}} name="specialization">
</p>
{% endif %}
<input type = "submit" value = "Save">

</form>
</p>